PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/tonera
BOT_TOKEN=your_telegram_bot_token
BOT_USERNAME=tonera_bot
APP_URL=https://tonera-frontend-production.up.railway.app
WEBHOOK_URL=https://tonera-backend-production.up.railway.app
ADMIN_TG_ID=7113109127
NODE_ENV=development
